<!DOCTYPE HTML>
<html lang="en" ng-app="ghostGame">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Ghost Game</title>
      <link rel="stylesheet" href="css/bootstrap.min.css">
  </head>
  <body ng-controller="mainController">
    <div class="container">
      <div id="todo-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          {{chars}}
          <form>
            <div class="form-group">
              <input id="txtChar" style="margin-bottom: 5px; margin-top: 5px;" type="text" class="form-control input-lg text-center" maxlength="1" placeholder="Choose character" ng-model="char.text">
            </div>
            <button id="btnAdd" class="btn btn-primary btn-lg" ng-click="sendChar()">Add</button>
          </form>
          <button id="btnRestart" class="btn btn-primary btn-lg" ng-click="restart()" style="visibility: hidden; margin-bottom: 5px; margin-top: 5px;">Restart</button>
          <br/>
          {{message}}
        </div>
      </div>
    </div>
    <script src="js/angular.min.js"></script>
    <script src="main.js"></script>
    <script src="js/jquery-2.1.4.min.js"></script>
  </body>
</html>
